<form action="/login" method="post">
<nav class='nav'>
<a href="/"><div>fishbook</div></a>
<div><img src="/images/tuna1.png"></div>
<div><label>E-mail: </label><input type="text" name='email'></div>
<div><label> Password: </label><input type="password" name='password'></div>
<div><button class="log-btn" type="submit">Log In</button></div>
</nav>
<section id='invalid'>
<h1>Invalid Login Info</h1>
<img src="/images/shark.png">
<h1>Please try again!</h1>
</section>
