<% if session[:user] != nil %>
  <% redirect '/profile' %>
  <% elsif session[:user] == nil %>

  <%end%>
<form action="/login" method="post">
<nav class='nav'>
<div>fishbook</div>
<div><img src="/images/tuna1.png"></div>
<div><label>E-mail: </label><input type="text" name='email'></div>
<div><label> Password: </label><input type="password" name='password'></div>
<div><button class="log-btn" type="submit">Log In</button></div>

</nav>
</form>
<section class='main-cont'>
<div>
<h1>Connect with fish around you on Fishbook.</h1>
<div id='left-block'>
<div><img src="/images/f1.png"></div><div><p>See photos and updates - from other fish</p></div>
<div><img src="/images/f3.png"></div><div><p>Share what's new - with you being a fish</p></div>
<div><img src="/images/f4.png"></div><div><p>Finally a social network for fish!</p></div>
</div>
</div>
<div id='right-block'>
<h1>Sign Up!<br>
If you're a fish!</h1>
<form action="/signup" method="post">
<div><label>First Name: </label><input type='text' name='name'></div>
<div><label>Last Name:  </label><input type='text' name='last_name'></div>
<div><label>E-Mail:   </label><input type='email' placeholder='example@example.com' name='email'></div>
<div><label>Birthdate:  </label><input type='date' name='bday'></div>
<div><label>Password:  </label><input type='password' name='password'></div>
<div><label>Picture URL: </label><input type='text' name='image_url'></div>
<br>
<button class="signup-btn" type="submit">Sign Up!</button>
</form>
</div>
</section>
