<html>
    <head>
        <title>Show Image</title>
    </head>
    <body>
        <h1>See Image</h1>
        <!-- user specific path here as well -->
        <img src="<%= @filename %>" />
    </body>
</html>
