/* #f9ba3b - orainge

#3a7df9 -

#c6d5f2 -

#ffc7b5 -

font-family: 'Baloo Bhai', cursive;
font-family: 'Quicksand', sans-serif;

 */

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0 0 0 0;
  background-color: #c6d5f2;
}

h1 {
  color: #3a7df9;
  font-size: 5vh;
  font-family: 'Baloo Bhai', cursive;
  margin-bottom: 0;
}


footer {
  max-width: 100%;
  background-color: #3a7df9;
  margin-bottom: 0;
  height: 10.5vh;
  text-align: center;
}

a {
  text-decoration: none;
}

.nav {
  max-width: 100%;
  display: grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr;
  background-color: #f9ba3b;
  color: #3a7df9;
  padding-left: 5%;
}

.nav a {
  color: #3a7df9;
}

.nav img {
  max-width: 12vh;
}

.nav div:nth-child(1) {
  padding-top: 2vh;
  font-size: 7vh;
  font-family: 'Baloo Bhai', cursive;
}

.nav div:nth-child(3) {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav div:nth-child(4) {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav div:nth-child(5) {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav button {
  font-size: 2.3vh;
}

.log-btn {
  background-color: #3a7df9;
  color: #f9ba3b;
  font-size: 2vh;
  margin-left: 5%;
  padding: 8px 8px;
  font-family: 'Quicksand', sans-serif;
}

.main-cont {
  display: grid;
  grid-template: auto / 50% 50%;
  grid-gap: 5%;
  margin: 0 5% 1% 5%;
}

#right-block {
  text-align: center;
}

#right-block div {
  font-size: 3.25vh;
  text-align: left;
  margin-left: 15%;
  margin-top: 2%;
  font-family: 'Quicksand', sans-serif;
  color: #3a7df9;
}

#left-block {
  display: grid;
  grid-template: 1fr 1fr 1fr / 40% 40%;
  grid-gap: 5%;
  grid-row-gap: 5px;
  font-family: 'Quicksand', sans-serif;
  color: #3a7df9;
  font-size: 3vh;
}

#left-block img {
  max-width: 75%;
}

.signup-btn {
  margin-top: .5%;
  background-color: #3a7df9;
  color: #f9ba3b;
  font-size: 3.25vh;
  margin-bottom: 3%;
}

#invalid {
  text-align: center;
}

#invalid img {
  margin: 0 25%;
  max-width: 45%;
}

.head {
  text-align: center;
}

.prof-cont {
  display: grid;
  grid-template: auto / 47.5% 47.5%;
  grid-gap: 5%;
  margin: 0 0% 1% 0%;
  text-align: center;
}

.prof-cont p {
  color: #3a7df9;
  font-family: 'Quicksand', sans-serif;
  font-size: 3vh;
}

.profile-image {
  max-width: 90%;
  border: solid 5px #f9ba3b;
  
}

.set-cont {
  text-align: center;
}

#title {
  height: auto;
  width: 35vw;
}

#content {

  margin-top: 3%;
  height: 35vh;
  width: 35vw;
  margin-bottom: 3%;
}

.post-cont {
  padding: 0 5%;
  margin-right: 3%;
  margin-left: 3%;
  text-align: center;
  max-width: 90%;
  border: solid 5px #f9ba3b;
  margin-bottom: 3%;
}

.more-post-cont {
  padding: 0 5%;
  /* margin-left: 3%; */
  text-align: center;
  max-width: 95%;
  border: solid 5px #f9ba3b;
  margin-bottom: 3%;
}
